<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM SYStem</title>

    <style>
        body{
         align-content: center;   
        }
        div{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        img{
            height: 15%;
            width: 15%;
            border-radius: 20%;  
        }
        #lab1{
            color:red;
        }
    </style>
</head>
<body>
    <div>
    <h1 id = "lab1">PLACE YOUR FINGER</h1>
    <img id= "img" src="{{ url_for('static', filename = 'images/scan2.gif') }}">
    <h1></h1>
    <h1 id= "display"></h1>
    <a href="/"></a>
    <a href="/">HOME</a>
    </div>
</body>
<script>
    function authenticated(){
        var aref = document.createElement("a")
        aref.setAttribute("href","/otp")
        aref.innerHTML =" clickMe"
        document.getElementById("display").appendChild(aref)
    }
    setInterval(function load(){
      var ft =fetch('/check', {
            method: 'POST', // or 'PUT'
			body:"post"
			})
		.then(response => response.json())
		.then(data => {
			var ar_data = data['data'];
         //console.log(ar_data)
		 if (ar_data == 0)document.getElementById("display").innerHTML ='';
		 if (ar_data == 1){
             document.getElementById("img").remove();
            document.getElementById("display").innerHTML ='Autherized SignIn';
             authenticated();
         }
		})
		.catch((error) => {
  			console.error('Error:', error);
		});	
    }
, 5000);

</script>
</html>